html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Roboto", Arial, Helvetica, sans-serif;
}

#navbar {
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 3px solid #a5a5a5;
}

#nav-header {
  margin: 22px 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.nav-link {
  padding: 18px 0;
  border-top: 1px solid #2c2c2c;
  width: 100%;
  text-align: center;
  color: #272727;
  text-decoration: none;
}

.last-nav-link {
  border-bottom: 1px solid #2c2c2c;
}

#main-doc {
  padding: 0 4% 0 29%;
}

.main-section {
  /* background-color: red; */
  margin: 40px 0;

}

.main-section-header {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin: 0 0 30px 0;
}

.main-section-para {
  font-size: 13px;
  color: #272727;
  word-spacing: 3px;
  line-height: 1.4;
  margin: 0 0 30px 15px;
}

.code-container {
  background-color: #f3f3f3;
  font-size: 10px;
  border-radius: 4px;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 0 30px 0;
}

.main-section-list {
  margin: 0 0 30px 0;
}

.main-section-list li {
  margin: 0 0 15px 0;
}

#back-to-top {
  display: none;
}

@media (max-width: 600px) {
  #navbar {
    all: unset;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }

  #main-doc {
    padding: 0 20px;
    
  }

  .first-main-section {
    margin-top: 50px;
  }

  #back-to-top {
    all: unset;
    position: fixed;
    width: 50px;
    bottom: 0;
    right: 0;
    margin: 0 20px 20px 0;
  }
}